/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/


*{
    font-family: Arial, Helvetica, sans-serif;
    
}
nav{
    width: 100%;
    display: flex;
    margin: 0;
}

.container-nav{
    height: 80px;
    display:flex;
    align-items:center;  
    background: #fff;
    width: 100%;
    justify-content: space-between;
    margin: 0;
}


.container-nav img {
    width: 150px;
    margin-left: 20px;
    background: #fff;
}

.container-nav .nav-links {
    padding-right: 20px;
    padding-left:20px;
    display: flex;
    height: 100%;
    align-items: center;
    background: #fff;
}

.nav-links li {
    padding: 10px; 
    color: #1A1A1A;
    font-size:large;
    list-style-type: none;
    background: #fff;
}

@media (max-width:768px) {
    
    .container-nav  {
        flex-direction: column;
        align-items: center;
        text-align: center;

             
    }

    .container-nav img {
        width:90px;
        padding-top: 5px;
        margin:0;
        
    }

    .nav-links {
        width: 80%;
        justify-content: center;
        margin: 0;
    }
}

@media (max-width:600px) {
    .nav-links {
        display: flex;
        margin: 0;
        height: auto;
        align-items: center;
    
    }

    .nav-links li {
        margin: 0;
        padding: 10px;
        
        
=======

.whats {
    text-align: center;
    width: 60%;

    margin: 30px auto 30px;
}
.whats h2 {
    margin: 30px auto 70px;
    

}
.cards {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 30%;
    text-align: center;
}
.card img {
    width: 60px;
}
.card h4 {
    color: #00B172;
    font-size: 20px;
}
.card p {
    width: 70%;
    color: #777;
    margin: 0 auto;
}

@media (max-width:768px) {
    .cards {
        flex-direction: column;
        text-align:center ;
    }
    .whats {
        width: 100%;
    }
    .card {
        width: 100%;
        margin-bottom: 30px;

    }
}